nifi/SplitInputCsvToAvro.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description></description>
  <groupId>fd68b25e-0157-1000-f71b-3a7eaac5d640</groupId>
  <name>CsvToAvroBySplit</name>
  <snippet>
    <connections>
      <id>e7b3e037-0157-1000-0000-000000000000</id>
      <parentGroupId>fd68b25e-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>fd68b25e-0157-1000-0000-000000000000</groupId>
        <id>fd74da77-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>fd68b25e-0157-1000-0000-000000000000</groupId>
        <id>e7af5dce-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>e7b7ab07-0157-1000-0000-000000000000</id>
      <parentGroupId>fd68b25e-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>fd68b25e-0157-1000-0000-000000000000</groupId>
        <id>e7b7338d-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>fd68b25e-0157-1000-0000-000000000000</groupId>
        <id>e7b3b897-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>e850662e-0157-1000-0000-000000000000</id>
      <parentGroupId>fd68b25e-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>fd68b25e-0157-1000-0000-000000000000</groupId>
        <id>e85041d4-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>fd68b25e-0157-1000-0000-000000000000</groupId>
        <id>e7b7338d-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>e8508baf-0157-1000-0000-000000000000</id>
      <parentGroupId>fd68b25e-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>fd68b25e-0157-1000-0000-000000000000</groupId>
        <id>e7bd8693-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>fd68b25e-0157-1000-0000-000000000000</groupId>
        <id>e85041d4-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>fd761a7d-0157-1000-0000-000000000000</id>
      <parentGroupId>fd68b25e-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>fd68b25e-0157-1000-0000-000000000000</groupId>
        <id>fd811b18-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>splits</selectedRelationships>
      <source>
        <groupId>fd68b25e-0157-1000-0000-000000000000</groupId>
        <id>fd74da77-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>fd81c098-0157-1000-0000-000000000000</id>
      <parentGroupId>fd68b25e-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>fd68b25e-0157-1000-0000-000000000000</groupId>
        <id>e7b3b897-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>fd68b25e-0157-1000-0000-000000000000</groupId>
        <id>fd811b18-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>fd906f60-0157-1000-0000-000000000000</id>
      <parentGroupId>fd68b25e-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>fd68b25e-0157-1000-0000-000000000000</groupId>
        <id>fd8efa8a-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>fd68b25e-0157-1000-0000-000000000000</groupId>
        <id>fd811b18-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <processors>
      <id>e7af5dce-0157-1000-0000-000000000000</id>
      <parentGroupId>fd68b25e-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>297.4949666989355</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>
              <name>Keep Source File</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>
              <name>Polling Interval</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>/nifi/SourceData</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>[^\.].*</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetFile</type>
    </processors>
    <processors>
      <id>e7b3b897-0157-1000-0000-000000000000</id>
      <parentGroupId>fd68b25e-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>498.352783203125</x>
        <y>218.384248925498</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Schema Output Destination</key>
            <value>
              <name>Schema Output Destination</name>
            </value>
          </entry>
          <entry>
            <key>Input Content Type</key>
            <value>
              <name>Input Content Type</name>
            </value>
          </entry>
          <entry>
            <key>CSV Header Definition</key>
            <value>
              <name>CSV Header Definition</name>
            </value>
          </entry>
          <entry>
            <key>Get CSV Header Definition From Data</key>
            <value>
              <name>Get CSV Header Definition From Data</name>
            </value>
          </entry>
          <entry>
            <key>CSV Header Line Skip Count</key>
            <value>
              <name>CSV Header Line Skip Count</name>
            </value>
          </entry>
          <entry>
            <key>CSV delimiter</key>
            <value>
              <name>CSV delimiter</name>
            </value>
          </entry>
          <entry>
            <key>CSV Escape String</key>
            <value>
              <name>CSV Escape String</name>
            </value>
          </entry>
          <entry>
            <key>CSV Quote String</key>
            <value>
              <name>CSV Quote String</name>
            </value>
          </entry>
          <entry>
            <key>Pretty Avro Output</key>
            <value>
              <name>Pretty Avro Output</name>
            </value>
          </entry>
          <entry>
            <key>Avro Record Name</key>
            <value>
              <name>Avro Record Name</name>
            </value>
          </entry>
          <entry>
            <key>Number Of Records To Analyze</key>
            <value>
              <name>Number Of Records To Analyze</name>
            </value>
          </entry>
          <entry>
            <key>Charset</key>
            <value>
              <name>Charset</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Schema Output Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>Input Content Type</key>
            <value>csv</value>
          </entry>
          <entry>
            <key>CSV Header Definition</key>
          </entry>
          <entry>
            <key>Get CSV Header Definition From Data</key>
            <value>true</value>
          </entry>
          <entry>
            <key>CSV Header Line Skip Count</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CSV delimiter</key>
            <value>\t</value>
          </entry>
          <entry>
            <key>CSV Escape String</key>
            <value>\</value>
          </entry>
          <entry>
            <key>CSV Quote String</key>
            <value>'</value>
          </entry>
          <entry>
            <key>Pretty Avro Output</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Avro Record Name</key>
            <value>hurdat</value>
          </entry>
          <entry>
            <key>Number Of Records To Analyze</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Charset</key>
            <value>UTF-8</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>InferAvroSchema</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unsupported content</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.kite.InferAvroSchema</type>
    </processors>
    <processors>
      <id>e7b7338d-0157-1000-0000-000000000000</id>
      <parentGroupId>fd68b25e-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>818.019081392798</x>
        <y>0.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop configuration files</key>
            <value>
              <name>Hadoop configuration files</name>
            </value>
          </entry>
          <entry>
            <key>Record schema</key>
            <value>
              <name>Record schema</name>
            </value>
          </entry>
          <entry>
            <key>CSV charset</key>
            <value>
              <name>CSV charset</name>
            </value>
          </entry>
          <entry>
            <key>CSV delimiter</key>
            <value>
              <name>CSV delimiter</name>
            </value>
          </entry>
          <entry>
            <key>CSV quote character</key>
            <value>
              <name>CSV quote character</name>
            </value>
          </entry>
          <entry>
            <key>CSV escape character</key>
            <value>
              <name>CSV escape character</name>
            </value>
          </entry>
          <entry>
            <key>Use CSV header line</key>
            <value>
              <name>Use CSV header line</name>
            </value>
          </entry>
          <entry>
            <key>Lines to skip</key>
            <value>
              <name>Lines to skip</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop configuration files</key>
          </entry>
          <entry>
            <key>Record schema</key>
            <value>${inferred.avro.schema}</value>
          </entry>
          <entry>
            <key>CSV charset</key>
            <value>utf8</value>
          </entry>
          <entry>
            <key>CSV delimiter</key>
            <value>\t</value>
          </entry>
          <entry>
            <key>CSV quote character</key>
            <value>"</value>
          </entry>
          <entry>
            <key>CSV escape character</key>
            <value>\</value>
          </entry>
          <entry>
            <key>Use CSV header line</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Lines to skip</key>
            <value>1</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertCSVToAvro</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>incompatible</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.kite.ConvertCSVToAvro</type>
    </processors>
    <processors>
      <id>e7bd8693-0157-1000-0000-000000000000</id>
      <parentGroupId>fd68b25e-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1434.0508098433347</x>
        <y>317.17958687702776</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>/nifi/DestinationData/avro</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>fail</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>e85041d4-0157-1000-0000-000000000000</id>
      <parentGroupId>fd68b25e-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1433.2320696910888</x>
        <y>5.928990287527995</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JSON container options</key>
            <value>
              <name>JSON container options</name>
            </value>
          </entry>
          <entry>
            <key>Wrap Single Record</key>
            <value>
              <name>Wrap Single Record</name>
            </value>
          </entry>
          <entry>
            <key>Avro schema</key>
            <value>
              <name>Avro schema</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JSON container options</key>
            <value>array</value>
          </entry>
          <entry>
            <key>Wrap Single Record</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Avro schema</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertAvroToJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
    </processors>
    <processors>
      <id>fd74da77-0157-1000-0000-000000000000</id>
      <parentGroupId>fd68b25e-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>507.4034931022543</x>
        <y>452.21229952090334</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Line Split Count</key>
            <value>
              <name>Line Split Count</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
            <value>
              <name>Maximum Fragment Size</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>
              <name>Header Line Count</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
            <value>
              <name>Header Line Marker Characters</name>
            </value>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>
              <name>Remove Trailing Newlines</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Line Split Count</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitText</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>splits</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitText</type>
    </processors>
    <processors>
      <id>fd811b18-0157-1000-0000-000000000000</id>
      <parentGroupId>fd68b25e-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>938.0702958232646</x>
        <y>308.4586463346668</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>filename</key>
            <value>
              <name>filename</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>filename</key>
            <value>${filename:prepend(${fragment.index})}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>fd8efa8a-0157-1000-0000-000000000000</id>
      <parentGroupId>fd68b25e-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1215.969953263299</x>
        <y>586.903503326841</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>/nifi/DestinationData/csv</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>fail</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
  </snippet>
  <timestamp>10/25/2016 20:43:37 UTC</timestamp>
</template>